@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #031525;
  --accent: #0096FF;
  --font-gilroy: 'Gilroy', sans-serif;

  --background-glow: linear-gradient(90deg, #0095ff00 0%,#0095ff4d 50%, #0095ff00 100%);
}

@theme inline{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --font-sans: var(--font-gilroy);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background-glow);
  color: var(--foreground);
  font-family: var(--font-gilroy), sans-serif !important;
  animation: gradientAnimation 6s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

